span.ui-button:hover .ui-icon,
span.ui-button:focus .ui-icon,
span.ui-button .ui-icon {
  background-image: url("../img/ShapeDown.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50%;
  margin-top: 3px;
  margin-left: 20px; }

span.ui-button:active,
span.ui-button:hover,
span.ui-selectmenu-button.ui-button {
  width: auto;
  background-color: #fff;
  border: 1px solid #E9EFF4;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #808FA3 !important; }

#period-button {
  margin-right: auto; }

.ui-state-active {
  border: none !important;
  background: #0C114E !important; }

.ui-selectmenu-button-open.ui-button .ui-icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
